/* Write your code here. */
.Main-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 80vh;
  width: 50vw;
  background-size: cover;
  color: #ffffff;
}

.Search-input {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 5px;
}

.Letters-length {
  background-color: #ffffff;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  color: #219a6f;
  text-align: center;
  font-weight: bold;
}

.Image {
  height: 200px;
  width: 250px;
}

.Content-container {
  display: flex;
  flex-direction: row;
}
